<div>
  <form [formGroup]="fieldGroup.form">
    <div *ngFor="let field of fields" [ngSwitch]="field.fieldUIType()" class="field">

      <div *ngSwitchCase="fieldUIType.TEXT">
        <div *ngIf="!(field.isEditable)">
          <span class="ui-float-label">
            <input [id]="field.name" pInputText type="text" class="value readonly ui-inputtext ui-state-filled" [formControlName]="field.name"
              [(ngModel)]="field.value" />
            <label>{{ field.label }}</label>
          </span>
        </div>
        <div *ngIf="field.isEditable">
          <span class="ui-float-label">
            <input [id]="field.name" pInputText type="text" class="value ui-inputtext ui-state-filled" [formControlName]="field.name"
              [(ngModel)]="field.value" />
            <label>{{ field.label }}</label>
          </span>
        </div>
      </div>

      <div *ngSwitchCase="fieldUIType.BOOLEAN">
        <div *ngIf="!(field.isEditable)">
          <span class="ui-float-label">
            <p-checkbox [id]="field.name" class="value readonly  ui-state-filled" [(ngModel)]="field.value" binary="true" [formControlName]="field.name">
            </p-checkbox>
            <label>{{ field.label }}</label>
          </span>
        </div>

        <div *ngIf="field.isEditable">
          <span class="ui-float-label">
            <p-checkbox [id]="field.name" class="value ui-state-filled" [(ngModel)]="field.value" binary="true" [formControlName]="field.name"
              (onChange)=onUpdate()>
            </p-checkbox>
            <label>{{ field.label }}</label>
          </span>
        </div>
      </div>
      <div *ngSwitchCase="fieldUIType.LIST">
        <div *ngIf="!(field.isEditable)">
          <span class="ui-float-label">
            <input [id]="field.name" pInputText type="text" class="value readonly ui-inputtext ui-state-filled" [(ngModel)]="field.value"
              [formControlName]="field.name" />
            <label>{{ field.label }}</label>
          </span>
        </div>
        <div *ngIf="field.isEditable">
          <span class="ui-float-label">
            <p-dropdown [id]="field.name" [options]="field.selectItems" [(ngModel)]="field.value" [formControlName]="field.name" (onChange)=onUpdate()
              placeholder="Select ..." showClear="false"></p-dropdown>
            <label>{{ field.label }}</label>
          </span>
        </div>

      </div>
      <div *ngSwitchCase="fieldUIType.RANGE">
        <div *ngIf="!(field.isEditable)">
          <span class="ui-float-label">
            <input [id]="field.name" pInputText type="text" class="value readonly ui-inputtext ui-state-filled" [(ngModel)]="field.value"
              [formControlName]="field.name" />
            <label>{{ field.label }}</label>
          </span>
        </div>
        <div *ngIf="field.isEditable">
          <span class="ui-float-label">
            <input [id]="field.name" pInputText type="text" class="value readonly center ui-inputtext ui-state-filled" [(ngModel)]="field.possibleValues[field.valueIndex].value"
              [ngModelOptions]="{standalone: true}" disabled=true/>
            <label>{{ field.label }}</label>
          </span>
          <mat-slider [id]="field.name" [(ngModel)]="field.valueIndex" class="value" (change)="onRangeUpdate($event, field)" [step]="1"
            [min]="0" [max]="field.possibleValues.length - 1" [tick-interval]="1" [formControlName]="field.name">
          </mat-slider>
        </div>
      </div>

    </div>

  </form>
</div>
