<button md-button class="router-link" [routerLink]="['/']">Home</button>
<p-tabView (onChange)="selectTab($event)">
  <p-tabPanel *ngFor="let tab of tabs" [header]="tab.name" [selected]="tab.selected">
    <div *ngIf="tab.rendered" class="layout">
      <div class="layout">
        <app-three class="layout" [load]="tab.data3d"></app-three>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<!-- <app-three class="layout" [load]="'assets/data/bunny.vtk'"></app-three> -->
<!-- <app-three class="layout" [load]="'assets/data/teapot.stl'"></app-three> -->
