<p-tabView>
  <p-tabPanel *ngFor="let tab of tabs; let i = index" [header]="tab" [selected]="i == 0">
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="'Non Editable Forms'" class="layout">
        <h2>{{nonEditableFields.label}}</h2>
        <app-fields-panel [fieldGroup]="nonEditableFields"></app-fields-panel>
      </div>
      <div *ngSwitchCase="'Batch Forms'" class="layout">
        <h2>{{batchFields.label}}</h2>
        <app-fields-panel [fieldGroup]="batchFields"></app-fields-panel>
        <p-button label="submit" (onClick)="submit($event, batchFields)"></p-button>
      </div>
      <div *ngSwitchCase="'Required Batch Forms'" class="layout">
        <h2>{{requiredBatchFields.label}}</h2>
        <app-fields-panel [fieldGroup]="requiredBatchFields"></app-fields-panel>
        <p-button label="submit" (onClick)="submit($event, requiredBatchFields)"></p-button>
      </div>
      <div *ngSwitchCase="'Reactive Forms'" class="layout">
        <h2>{{editableReactiveFields.label}}</h2>
        <app-fields-panel [fieldGroup]="editableReactiveFields"></app-fields-panel>
      </div>
      <div *ngSwitchCase="'Required Reactive Forms'" class="layout">
        <h2>{{editableReactiveFields.label}}</h2>
        <app-fields-panel [fieldGroup]="editableReactiveFields"></app-fields-panel>
      </div>
      <div *ngSwitchCase="'Item List'">
        <h2>Multiple Field Group Items</h2>
        <app-item-list-panel fxLayout="column" [itemConf]="sampleItemConf" [finaliseLabel]="'Submit'"></app-item-list-panel>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<p-growl></p-growl>
