<div>
  <form [formGroup]="form">
    <div *ngFor="let field of fields" [ngSwitch]="field.fieldUIType()">
      <div class="ui-g-4">
        <label [attr.for]="field.name">{{field.label}}</label>
      </div>
      <div class="ui-g" *ngSwitchCase="fieldUIType.TEXT">

        <div *ngIf="!(field.isEditable)" class="ui-g-8">
          <span [id]="field.name">{{field.value}}</span>
        </div>
        <span *ngIf="field.isEditable" class="md-inputfield">
          <div class="ui-g-8">
            <textarea [id]="field.label" rows="1" cols="25" pInputTextarea autoResize="autoResize" [formControlName]="field.name">
                        {{field.value}}
                    </textarea>
          </div>
        </span>
      </div>
      <div class="ui-g" *ngSwitchCase="fieldUIType.BOOLEAN">

        <div *ngIf="!(field.isEditable)" class="ui-g-8">
          <p-checkbox [id]="field.name" [(ngModel)]="field.value" binary="true" [ngModelOptions]="{standalone: true}" disabled=true></p-checkbox>
        </div>
        <div *ngIf="field.isEditable" class="ui-g-8">
          <p-checkbox [id]="field.name" [(ngModel)]="field.value" binary="true" [formControlName]="field.name">
          </p-checkbox>
        </div>
      </div>
      <div class="ui-g" *ngSwitchCase="fieldUIType.VALUE_LIST">
        <div class="ui-g-4">
          <label [attr.for]="field.name">{{field.label}}</label>
        </div>
        <div class="ui-g-8">
          <p-listbox [id]="field.label" [style]="{'width':'250px'}" [options]="field.selectItems" [(ngModel)]="field.value" [formControlName]="field.name">
          </p-listbox>
        </div>
      </div>
    </div>
  </form>
</div>
